*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin: 50px 30px;
}

button{
    display: block;
}

.search{
    border-radius: 20px;
    border-color: rgb(34, 172, 172);
    border: solid;
    padding: 5px 70px;
    color: rgb(34, 172, 172);
    background-color: white;
}

.add{
    border: none;
    background-color: rgb(34, 172, 172);
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-weight: bold;
}

.create{
    border: solid 3px black;
    background-color: rgb(6, 77, 143);
    color: white;
    padding: 10px 30px;
    box-shadow: 5px 5px black;
}